@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-archivo: Archivo Black, sans-serif;
  
  --color-white: #F5FFF5;
  --color-off-white: #F4F7FD;
  --color-black: #1F1F1F;
  --color-primary: #0A5A46;
  --color-primary-hover: #087054;
  --color-secondary: #FA6E06;
  --color-secondary-hover: #e65c00;
  --color-error: #E63946;
  --color-success: #4BB543;
}